<body>
    <mat-card class="card" *ngIf="settingsObservable$ | async; else loading">
        <p class="title">Instellingen</p>
        <p>Verander hier u minimum waarde. Als er minder drankjes dan dit minimum in de frigo staan, krijgt u een melding.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            
            <div class="center">
                <mat-form-field appearance="fill">
                    <mat-label>Minimum</mat-label>
                    <input matInput name="sendAmount" formControlName="sendAmount">
                    <mat-error *ngIf="!form.get('sendAmount')?.valid">{{getErrorMessageMinimum()}}</mat-error>
                </mat-form-field>
            </div>
            <p>U krijgt een melding op onderstaand e-mail adres, u kan he hier ook aanpassen.</p>
            <div class="center">
                <mat-form-field appearance="fill">
                    <mat-label>E-mailadres</mat-label>
                    <input matInput name="emailToSendTo" formControlName="emailToSendTo">
                    
                    <mat-error *ngIf="!form.get('emailToSendTo')?.valid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
            </div>
            <mat-checkbox class="example-margin" formControlName="wantToRecieveNotification">Ik wil een email ontvangen</mat-checkbox>
            <div class="center">
                <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Opslaan</button>
            </div>
        </form>
    </mat-card>
    <ng-template #loading>
        Instellingen zijn aan het laden
    </ng-template>
</body>



