@import '../node_modules/@angular/material/theming';
@import 'ownTheme.scss';
@include mat-core();


$my-primary: mat-palette($mat-primary);
$my-accent:  mat-palette($mat-green, A200, A100, A400);
$my-theme: mat-light-theme($my-primary, $my-accent);


@include angular-material-theme($my-theme);


