<mat-card class="c1">
    <mat-card-title>
        title
    </mat-card-title>
    <mat-card-content>
        content
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">
            login
        </button>
        <button mat-flat-button color="accent">
            register
        </button>
        <button mat-flat-button color="my-primary">
            login
        </button>
        <button mat-flat-button color="my-accent">
            register
        </button>
    </mat-card-actions>
</mat-card>
  