
<mat-toolbar color="primary">
    <span>Smart Fridge</span>
</mat-toolbar>
<mat-card class="card">
    <form #form="ngForm" class="example-form" >
        <mat-form-field class="example-full-width">
            <mat-label>E-mailadres</mat-label>
            <input matInput placeholder="matthias.hernalsteen@euri.com">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Wachtwoord</mat-label>
            <input matInput placeholder="****">
        </mat-form-field>
    </form>
</mat-card>
