<body id="sect1">
    <mat-toolbar color="primary">
        <span>Smart Fridge</span>
    </mat-toolbar>
    <mat-card class="card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p class="title">Login</p>
            <div class="center">
                <mat-form-field appearance="fill">
                    <mat-label>E-mailadres</mat-label>
                    <input matInput name="email" formControlName="emailAdress">
                    <button mat-icon-button matSuffix type="button" >
                    </button>
                    <mat-error *ngIf="!form.get('emailAdress')?.valid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="center">
                <mat-form-field appearance="fill">
                    <mat-label>Wachtwoord</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="!form.get('password')?.valid">Geef een wachtwoord</mat-error>
                </mat-form-field>
            </div>
            <div class="center">
                <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Login</button>
            </div>
        </form>
        <div *ngIf="wrongPasswordForEmail" class="center">
            <p color="red">Wachtwoord of e-mailadres kloppen niet</p>
        </div>
        <div class="center">
            <p class="rederectLink" routerLink="/register">Registreer</p>
        </div>
        

        
    </mat-card>
</body>
