@import '~roboto-fontface/css/roboto/roboto-fontface.css';

.card
{
    width: 25%;
    margin: auto;
    margin-top: 5%;
}

.center {
    display: flex;
    justify-content: center;
    
}

.left {
    display: flex;
    justify-content: left;
}

#sect1 {  
    height: 100%; 
    background-image: url("../../assets/images/cans.png");  
    background-size: 100% ;  
    background-size: cover;  
}

.title{
    font-size: 24px;
    font-family: Roboto;
}

.rederectLink{
    font-size: 14px;
    font-family: Roboto;
    text-decoration: underline;
}
