<body>
  
    <table mat-table  *ngIf="(beveragesAndMinimum$ | async)" [dataSource]="$any(beveragesAndMinimum$ | async).tableData  || false" class="mat-elevation-z8">

       
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Naam </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Aantal </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.amount > $any(beveragesAndMinimum$ | async).minAmount" color="primary">favorite</mat-icon>
                <mat-icon *ngIf="element.amount <= $any(beveragesAndMinimum$ | async).minAmount" color="warn">favorite</mat-icon>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
   
</body>


